<component name="ArtifactManager">
  <artifact type="exploded-war" name="springTest45:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springTest45_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springTest45/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springTest45" />
        </element>
      </element>
    </root>
  </artifact>
</component>