<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-quickstart:war">
    <output-path>$PROJECT_DIR$/spring-mvc-quickstart-archetype/target</output-path>
    <root id="archive" name="test-2.war">
      <element id="artifact" artifact-name="spring-mvc-quickstart:war exploded" />
    </root>
  </artifact>
</component>